.body {
  background-color: #0a0a0a; /* Pure black */
  
  color: #fff; /* White text for contrast */
  font-family: 'Poppins', sans-serif; /* Optional clean font */
  background-attachment: fixed; /* keeps pattern still when scrolling */
}

.right-links {
  position: absolute;
  right: 1rem;  /* distance from the right edge */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
  
}

.navbar-bg-image {
   background-image: repeating-linear-gradient(
    135deg,          /* diagonal angle */
    #0a0a0a 0px,
    #0a0a0a 25px,
    #111111 40px,
    #111111 80px
  );
}


.navtop-color{
  background-color: #0a0a0a;
  
}

.vdoCard 
{
  margin: auto;
  width: 700px;
  height: 100px;
}