.body {
  background-color: #000; /* Pure black */
  color: #fff; /* White text for contrast */
  font-family: 'Poppins', sans-serif; /* Optional clean font */
}

.right-links {
  position: absolute;
  right: 1rem;  /* distance from the right edge */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
  
}

.navbar-bg-image {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8M10o60SEPD3X7LdOzwvK1hIY52fD56F6bw&s"); /* example image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.navtop-color{
  background-color: black;
  
}